.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

adverb {
  color: #f2777a;
}

noun {
  color: #f99157;
}

adposition {
  color: #ffcc66;
}

determiner {
  color: #99cc99;
}

interjection {
  color: #66cccc;
}

particle {
  color: #6699cc;
}

punctuation {
  color: #f2f0ec;
}

verb {
  color: #cc99cc;
}

unknown {
  color: #d3d0c8;
}

numbers {
  color: #e8e6df;
}

conjunction {
  color: #d27b53;
}

adjective {
  color: #6699cc;
}
