body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

adverb {
  color: #f2777a;
}

noun {
  color: #f99157;
}

adposition {
  color: #ffcc66;
}

determiner {
  color: #99cc99;
}

interjection {
  color: #66cccc;
}

particle {
  color: #6699cc;
}

punctuation {
  color: #f2f0ec;
}

verb {
  color: #cc99cc;
}

unknown {
  color: #d3d0c8;
}

numbers {
  color: #e8e6df;
}

conjunction {
  color: #d27b53;
}

adjective {
  color: #6699cc;
}
