body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Adverb {
  color: #f2777a;
}

.Noun {
  color: #f99157;
}

.Adposition {
  color: #ffcc66;
}

.Determiner {
  color: #99cc99;
}

.Interjection {
  color: #66cccc;
}

.Particle {
  color: #6699cc;
}

.Punctuation {
  color: #f2f0ec;
}

.Verb {
  color: #cc99cc;
}

.Unknown {
  color: #d3d0c8;
}

.Numbers {
  color: #e8e6df;
}

.Conjunction {
  color: #d27b53;
  
}

.Adjective {
  color: #6699cc;
}
