body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* the word container */
.word_container {
  width: 100%;
  font-family: monospace;
  background: #FFFFFF;
  padding: 15px;
  color: #000000;
  white-space: pre-wrap;
  line-height: 1.4em;
  /* white-space: pre; */
  /* overflow: scroll; */
  box-sizing: border-box;
  display: inline-block;
  contentEditable: true;
  height: 710PX;
  overflow-y: auto;
}

.word_container2 {
  width: 100%;
  font-family: monospace;
  background: #001529;
  padding: 15px;
  color: #f2f0ec;
  white-space: pre-wrap;
  line-height: 1.4em;
  /* white-space: pre; */
  /* overflow: scroll; */
  box-sizing: border-box;
  display: inline-block;
  contentEditable: true;
  height: 710px;
  overflow-y: auto;
}




